.post {
  display: flex;
  align-items: flex-start;
  border-bottom: 1px solid var(--twitter-bg);
  cursor: pointer;
}

.post__body {
  flex: 1;
  padding: 10px;
}

.post__body > img {
  border-radius: 20px;
  width: 400px;
  object-fit: contain;
}

.post__footer {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  color: var(--gray-color) !important;
}

.post__headerText > h3 {
  font-size: 15px;
}

.post__headerDescription {
  margin-bottom: 10px;
  font-size: 15px;
}

.post__badge {
  font-size: 14px !important;
  color: var(--twitter-blue-color);
}

.post__headerSpecial {
  font-weight: 600;
  font-size: 12px;
  color: var(--gray-color);
}

.post__avatar {
  padding: 15px 5px 20px 20px;
}

.post__footer > .MuiSvgIcon-root {
  padding: 10px;
}

.post__footer > .MuiSvgIcon-root:hover {
  background-color: var(--lightBlue-color);
  border-radius: 30px;
  transition: color 0.1s ease-out;
}
